/HelloWorldApp/nbproject/private/
/HelloWorldApp/build/
/Java11_OCP1/nbproject/private/
/Java11_OCP1/build/
/Java11_OCP1/dist/
/JavaClasswork/target/
/Java11ClassWork/target/
/Java11Exercises/target/
/Java_OCA/nbproject/private/
/Java_OCA/build/
/Java_OCA/dist/
/Java_OCP1_HerbertSchildt/nbproject/private/
/Java_OCP1_HerbertSchildt/build/
/Java_OCP1_HerbertSchildt/dist/